.ek {
	border-bottom: #465260 1px solid;
	border-top: #1B1F23 1px solid;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	background-color: #e5e5e5;
}
.header_shadow {
	background: url("http://theme.stepofweb.com/Atropos/v1.9/HTML/assets/images/header_shadow.png") no-repeat top center !important;
	position: fixed;
	top: 81px;
	left: 0;
	right: 0;
	height: 75px;
	z-index: 99;
	color: #000;
	background: #ccc;
	text-shadow: none;
}
.footer {
	clear: both;
	margin-top: 1em;
	background: #2E363F;
	color: #fff;
	letter-spacing: 0.6px;
	display: block;
}
.footer #inner-footer {
	padding: 6em 0;
}
.footer #footer-logo {
	background: url(../img/w_logo.png) center center no-repeat;
	width: 100%;
	height: 241px;
}
@media only screen and (min-width: 71.563em) .footer h5.footer-title {
 margin-top: 0;
}
.footer h5.footer-title {
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	border-bottom: 1px solid #5e5e5e;
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 3em;
}
.footer p {
	font-size: 14px;
}
.footer .social-media-icons {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer a {
	color: #fff;
}
.footer .social-media-icons li {
	float: left;
	margin-right: 2px;
	position: relative;
}
.footer .social-media-icons li span.fa-stack {
	font-size: 1.2em;
}
.footer .social-media-icons li .social-type-tooltip {
	position: absolute;
	bottom: -30px;
	font-size: 10px;
	background: #212121;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	-webkit-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}
.footer .social-media-icons li i.fa-stack-1x {
	color: #333333;
}
.footer {
	clear: both;
	margin-top: 1em;
	background: #2E363F;
	color: #fff;
	letter-spacing: 0.6px
}
.footer p {
	font-size: 14px
}
.footer a {
	color: #fff
}
.footer a:hover {
	color: #5cb85c
}
.footer h5.footer-title {
	color: #fff;
	text-transform: uppercase;
	width: 100%;
	border-bottom: 1px solid #5e5e5e;
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-top: 3em
}
.footer .social-media-icons {
	margin: 0;
	padding: 0;
	list-style: none
}
.footer .social-media-icons:hover {
	list-style: none
}
.footer .social-media-icons a:hover i.fa-stack-2x {
	color: #5cb85c
}
.footer .social-media-icons a:hover .social-type-tooltip {
	opacity: 1
}
.footer .social-media-icons li {
	float: left;
	margin-right: 2px;
	position: relative
}
.footer .social-media-icons li span.fa-stack {
	font-size: 1.2em
}
.footer .social-media-icons li i.fa-stack-2x {
	color: #d0d0cf
}
.footer .social-media-icons li i.fa-stack-1x {
	color: #333333
}
.footer .social-media-icons li .social-type-tooltip {
	position: absolute;
	bottom: -30px;
	font-size: 10px;
	background: #212121;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	color: #ffffff;
	-webkit-transition: opacity 0.3s ease-in-out;
	-ms-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
	opacity: 0
}
.footer .social-media-icons li .social-type-tooltip:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(51,51,51,0);
	border-bottom-color: #212121;
	border-width: 5px;
	margin-left: -5px
}
.footer #inner-footer {
	padding: 3em 0
}
.footer .global-footer-links {
	list-style: none;
	margin: 0px;
	font-family: Verb
}
.footer .global-footer-links li {
	font-size: 14px
}
.footer .web-accessibility {
	text-align: right;
	padding: 1em 1em 0 0;
	float: right
}
.footer [class*="column"]+[class*="column"]:last-child {
	float: left
}
.dropdown-large {
	position: static !important;
}
.dropdown-menu-large {
	margin-left: 16px;
	margin-right: 16px;
	padding: 20px 0px;
	background-color: #2E363F;
	border-radius: 6px;
}
.dropdown-menu-large > li > ul {
	padding: 0;
	margin: 0;
}
.dropdown-menu-large > li > ul > li {
	list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.428571429;
	color: #afafaf;
	;
	white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover, .dropdown-menu-large > li ul > li > a:focus {
	text-decoration: none;
	color: #262626;
	background-color: #f8f8f8;
}
.dropdown-menu-large .disabled > a, .dropdown-menu-large .disabled > a:hover, .dropdown-menu-large .disabled > a:focus {
	color: #999999;
}
.dropdown-menu-large .disabled > a:hover, .dropdown-menu-large .disabled > a:focus {
	text-decoration: none;
	background-color: transparent;
	background-image: none;
 filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
	cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
	color: #fff;
	font-size: 18px;
}
@media (max-width: 768px) {
.dropdown-menu-large {
	margin-left: 0;
	margin-right: 0;
}
.dropdown-menu-large > li {
	margin-bottom: 30px;
}
.dropdown-menu-large > li:last-child {
	margin-bottom: 0;
}
.dropdown-menu-large .dropdown-header {
	padding: 3px 15px !important;
}
}
.carousel-caption {
	position: absolute;
	left: 0%;
	right: 0%;
	bottom: 0px;
	z-index: 10;
	padding: 0 0 15px 0;
	background-color: #F2F1EB;
	background-color: rgba(242, 241, 235, 0.75);
	background: rgba(0,0,0,0.75);
	color: #ffffff;
	text-align: center;
	line-height: 1;
}
.carousel-indicators {
	position: absolute;
	bottom: 10px;
	left: 7%;
	z-index: 15;
	padding-left: 0;
	text-align: center;
	list-style: none;
}
body {
	overflow-x: hidden;
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	webkit-tap-highlight-color: #333
}
.h4, h4 {
	font-size: 14px;
}
.btn-primary, .btn-xl, h1, h2, h3, h4, h5, h6 {
	font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700
}
.text-muted {
	color: #777
}
.text-primary, a {
	color: #333
}
p {
	font-size: 13px;
	line-height: 1.75
}
p.large {
	font-size: 16px
}
a, a.active, a:active, a:focus, a:hover {
	outline: 0
}
a.active, a:active, a:focus, a:hover {
	color: #333
}
.img-centered {
	margin: 0 auto
}
.timeline {
	list-style: none;
	padding: 0;
	position: relative
}
.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: "";
	width: 1px;
	background-color: #253036;
	left: 40px;
	margin-left: -1.5px
}
.timeline>li {
	margin-bottom: 50px;
	position: relative;
	min-height: 50px
}
.timeline>li:after, .timeline>li:before {
	content: " ";
	display: table
}
.timeline>li:after {
	clear: both
}
.timeline>li .timeline-panel {
	width: 100%;
	float: right;
	padding: 0 20px 0 100px;
	position: relative;
	text-align: left
}
.timeline>li .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto
}
.timeline>li .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto
}
.timeline>li .timeline-image {
	left: 0;
	margin-left: 0;
	width: 75px;
	height: 75px;
	position: absolute;
	z-index: 100;
	background-color: #009745;
	border: 2px solid #253036;
	color: #fff;
	border-radius: 100%;
	text-align: center;
}
.timeline>li .timeline-image h4 {
	font-size: 12px;
	margin-top: 12px;
	line-height: 14px
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	text-align: left;
	padding: 0 20px 0 100px
}
.timeline>li.timeline-inverted>.timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto
}
.timeline>li.timeline-inverted>.timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto
}
.timeline>li:last-child {
	margin-bottom: 0
}
.timeline .timeline-heading h4 {
	margin-top: 0;
	color: inherit
}
.timeline .timeline-heading h4.subheading {
	text-transform: none
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0
}
.team-member {
}
.team-member h4 {
	margin-top: 25px;
	margin-bottom: 0;
	text-transform: none
}
.team-member p {
	margin-top: 0
}

ul.social-buttons {
	margin-bottom: 0
}
ul.social-buttons li a {
	display: block;
	background-color: #222;
	height: 40px;
	width: 40px;
	border-radius: 100%;
	font-size: 20px;
	line-height: 40px;
	color: #fff;
	outline: 0;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s
}
ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
	background-color: #9d9d9d
}

a, a.active, a:active, a:focus, a:hover {
	color: #333;
	outline: 0;
}
ul.list-inline {
	margin-top: 10px;
	display: inline-block;
	margin-top: 0
}
.navbar-brand {
	float: left;
	height: 50px;
	padding: 15px 15px;
	font-size: 16px;
	line-height: 1.42857143;
}
#sayac {
	background-image: url("http://harita.kocaeli.edu.tr/img/mfa.gif");
	background-color: rgba(6,32,51,.8);
	background-attachment: fixed !important;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
}
.counters-item {
	color: #fff;
	margin-bottom: 30px;
}
.counters-item i {
	margin: 0 0 15px;
}
.counters-item strong {
	font-size: 35px;
}
.sayac .devider:before, .sayac .devider:after {
	color: #737C85;
}
.sayac .devider i {
	color: #fff;
}
.parallax-overlay {
	background-color: rgba(6,32,51,.8);
	padding: 70px 0;
}
.counters-item {
	color: #fff;
}
.counters-item i {
	border: 1px solid #737C85;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	height: 120px;
	margin: 0 0 35px;
	padding: 40px 0 0;
	width: 120px;
}
.counters-item strong {
	display: block;
	font-size: 45px;
	font-weight: 600;
	line-height: 60px;
}
.counters-item p {
	font-size: 18px;
	line-height: 24px;
	margin-top: 15px;
	text-transform: uppercase;
}
/*--Haber ve Etkinlikler Css*/
.news-item .news-img {
	position: relative
}
.news-item .news-text h3 {
	margin: 10px 0 5px 0
}
#more-news h4 {
	text-transform: uppercase;
	color: #5cb85c;
	font-size: 1em;
	font-weight: 600;
	margin: 5px 0 15px 0
}
#more-news ul {
	margin: 0 0 10px -30px
}
#more-news ul li {
	list-style-type: none;
	font-size: 1.15em;
	margin-bottom: 15px;
	line-height: 1.24224
}
#more-news ul li a {
	text-decoration: none
}
#more-news ul li a:hover {
	text-decoration: underline
}
#more-news ul li:before {
	font-family: FontAwesome;
	content: '\F105';
	margin: 0 10px 0 -15px;
	font-size: 13px
}

#event-list h3, #event-list h4 {
	font-size: 14px;
	margin-bottom: 0
}
#event-list .event-date {
	vertical-align: top;
	width: 60px;
	padding-right: 15px
}
#event-list .event-date .event-month {
	padding-left: 3px;
	font-weight: 400;
	font-size: 1.1em;/*! border: 1px solid #55a51c; */
	text-transform: uppercase;
	display: block;
	color: #333;
	text-align: center;
	line-height: 1.1;
	letter-spacing: 1px
}
#event-list .event-date .event-day {
	font-weight: 200;
	display: block;
	text-align: center;
	font-size: 2.2em;
	padding-top: 8px;
	color: #009745;
	line-height: .8;
}
#event-list .more-link {
	padding-left: 57px
}

@media (max-width:767px) {
#mainmenu {
	margin-bottom: 0
}
.more-link {
	float: right
}
.more-link a {
	font-size: 1.1em
}
#feature-banner {
	padding: 0;
	margin-bottom: 40px
}
.news-item {
	clear: both;
	display: table;
	margin-bottom: 1em;
	position: relative
}
.news-item>div {
	display: table-cell;
	position: relative
}
.news-item .news-img {
	overflow: hidden;
	padding-right: 15px;
	width: 100px
}
.news-item .news-img img {
	width: 150px;
	max-width: none;
	position: absolute;
	top: 0;
	clip: rect(0,100px,150px,0)
}
.news-item .news-text {
	vertical-align: top;
	padding-left: 10px
}
.news-item .news-text h3 {
	margin-top: 0;
	line-height: 1;
	font-size: 18px
}
.news-item .news-text p {
	min-height: 70px
}

#event-list .more-link {
	margin-left: 100px;
	padding-left: 10px
}
}

@media (min-width:768px) and (max-width:991px) {
#more-news ul {
	margin: 0
}
#more-news ul li {
	font-size: 1em
}
#more-news ul li:before {
	content: none
}
}


@media (min-width:1200px) {
.postcard-left .postcard-image {
	width: 100px
}
.postcard-left .postcard-text {
	padding-left: 10px
}
#tweetMedia img {
	max-width: 475px
}
}
.postcard-left>div, .postcard-right>div {
	display: table-cell;
	position: relative;
}
.postcard-left, .postcard-right {
	clear: both;
	display: table;
	margin-bottom: 15px;
	position: relative;
}

/*--Tablo Kısmının Css*/
.responstable {
	margin: 1em 0;
	width: 100%;
	overflow: hidden;
	background: #FFF;
	color: #024457;
	border-radius: 10px;
	border: 1px solid #167F92;
}
.responstable tr {
	border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
	background-color: #EAF3F3;
}
.responstable th {
	display: none;
	border: 1px solid #FFF;
	background-color: #009745;
	color: #FFF;
	padding: 1em;
}
.responstable th:first-child {
	display: table-cell;
	text-align: center;
}
.responstable th:nth-child(2) {
	display: table-cell;
}
.responstable th:nth-child(2) span {
	display: none;
}
.responstable th:nth-child(2):after {
	content: attr(data-th);
}
@media (min-width: 480px) {
.responstable th:nth-child(2) span {
	display: block;
}
.responstable th:nth-child(2):after {
	display: none;
}
}
.responstable td {
	display: block;
	word-wrap: break-word;
}
.responstable td:first-child {
	display: table-cell;
	text-align: center;
	border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
.responstable td {
	border: 1px solid #D9E4E6;
}
}
.responstable th, .responstable td {
	text-align: left;
	margin: .5em 1em;
}
@media (min-width: 480px) {
.responstable th, .responstable td {
	display: table-cell;
	padding: 1em;
}
}
footer {
	padding: 25px 0;/* text-align: center */
}
footer span.copyright {
	line-height: 40px;
	text-transform: uppercase;
	text-transform: none
}
footer ul.quicklinks {
	margin-bottom: 0;
	line-height: 40px;
	text-transform: uppercase;
	text-transform: none
}footer {
	color: #333;
	overflow-x: hidden;
	background-color: #efefef;
}
footer h3 {
	margin-bottom: 30px
}
footer .footer-above {
	padding-top: 50px;
	background-color: #5cb85c
}
footer .footer-col {
	margin-bottom: 50px
}
footer .footer-below {
	padding: 25px 0;
	background-color: #5cb85c
}
